
body{
    font-family:arial;
    background-color: #f1f1f1;
}
.app-body{
    padding: 10px 40px;
}

.error{
    margin-top: 5px;
    color: red;
    font-size: 12px;
}

.container{
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 6px;
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.currencywrapper div:not(.nextprevwrapper):not(.arrow-down):not(.showcurrenctcurrency){
    color: #fff;
    padding:20px 40px;
    font-size: 40px;
}

.smallcircle:nth-child(2){
        background-color: #fff;
}

.smallcircle{
    width: 7px;
    height: 7px;
    display: inline-block;
    background-color: #cacaca;
    border-radius: 50%;
    margin-left: 4px;
    cursor: pointer;
}

.nextprevwrapper img{
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin-left: 3px;
}

.nextprevwrapper{ 
    margin: auto;
    width: 52px;
}

.currencywrapper input{
    background: transparent;
    border:0;
    outline: none;
    font-size: 40px;
    color: #fff;
    text-align: right;
    width: 200px;
    margin-left: 10px;
}

.currencyhave{
    background-color: #1D6BFF
}

.currencywant{
    background-color: #225BD3
}

.currencywantvalue{
        margin-left: 10px;
}

.selectcurrency{
    color: #fff;     
    outline: none;
    font-size: 40px;
    background-color: transparent;
    border: 0;
}
.selectcurrency option{
    background-color: #1D6BFF;
    color: #fff;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1D6BFF;
    position: absolute;
    left: 50%;
    margin-left: -5px;
}

.currencywrapper div.showcurrenctcurrency{
        font-size: 13px;
    text-align: center;
    padding: 5px;
    background-color: #225BD3;
    border-radius: 4px;
    margin: 0px auto 20px;
    width: 200px;
}

.footer-wrapper{
    padding: 8px;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
    color: gray;
    left: 0;
}

.logo{
    width: 70px;
    margin: 10px;
}